.upmul-2{
	position:relative;
}
.upmul-item{
	position:relative;
	width:100px;
	height:100px;
}
.upmul-ab{
	position:absolute;
	width:40px;
	height:20px;
	padding:2px;
	top:0;
	right:0;
	color:#fff;
	background-color: rgba(0,0,0,0.5);
}
.upmul-ab a{
	color:#fff;font-size:14px;cursor:pointer;
}
.layui-upload-img {
	width: 92px;height: 92px;margin: 0 10px 10px 0;
}
.success{
	 display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 40px;
    width: 40px;
    z-index: 200;
    background: url(img/success.png) right bottom no-repeat;
}